{% extends 'base.html.twig' %}
{% block title %}Picard{% endblock %}
{% block body %}
  <h1>Bienvenue sur la page d’accueil Picard distrib</h1>
  <h2>Liste des produits</h2>
  <div id="app"></div>
{% endblock %}
