<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Ma super appli{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
